/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: rgb(224, 224, 224);
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    font-family: 'Roboto-Regular' , sans-serif;
}
section .content
{
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 96%;
    width: 41%;
}
section .content span
{
    color: rgb(41, 76, 127);
    align-self: self-start;
    font-size: 3vw;
    font-family: 'Roboto-Medium', sans-serif;
    margin-bottom: 5px;
}
section .content p
{
    color: rgb(53, 98, 165);
    font-size: 1.5vw;
    text-indent: 50px;
    line-height: 1.2;
    font-family: 'Roboto-Regular' , sans-serif;
    text-transform: capitalize;
    text-align: justify;
}
section .content a
{
    font-size: 1.5vw;
    color: white;
    background-color: rgb(53, 98, 165);
    margin: 20px 0 20px 0;
    padding: 9px;
    border: 1px solid rgb(38, 50, 56);
    border-radius: 5px;
    font-family: 'Roboto-regular' , sans-serif;
    align-self: self-start;
    text-decoration: none;
    transition: 200ms linear 0s all;
}
.content a:hover
{
    background-color:  rgb(36, 65, 109) ;
    color: #ecebeb;
}
section .container
{
    height: 100%;
    width: 55%;
}
section .container img
{
    aspect-ratio: 16/9;
    object-fit:contain;
    height: 90%;
    width: 90%;
    margin: 5%;
}
footer
{
    height: 10vh;
    width: 100vw;
}