@import url('css/font/ubuntuFont.css');
@import url('css/font/robotoFont.css');
:root
{
    --primary-color : #9D9FE6;
    --secondary-color : #1A1A27;
    --nav-color:rgba(26, 26, 39, 70%);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    background-color: #ffff;
    height: 100%;
    width: 100%;
    color: var(--secondary-color);
}
section{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: #8b8b8b; */

    .list-container{
        margin-top: 25px;
        padding: 20px;
        /* background-color: #8b8b8b; */
        width: 80%;
        
        .panel{
            border: 1px solid rgb(197, 197, 197);
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 25px;
            .title{
                font-family: 'Ubuntu-Bold', sans-serif;
                color: black;
            }
            table.test-list{
                border-collapse: collapse;
                width: 100%;
                margin-top: 25px;
                .head{
                    font-family: "Roboto-Medium",sans-serif;
                    font-size: 15px;
                    color: #71717a;
                }
                td{
                    padding: 10px;
                    
                    &:first-child{
                        width: 60%;
                    }
                    &:nth-child(2){
                        width: 20%;
                    }
                }
                .body{
                    font-family: 'Roboto-Regular',sans-serif;
                    font-size: 15px;
                    border-top: 1px solid rgb(197, 197, 197);
                    transition: 200ms linear 0s all;
                    &:hover{
                        background-color: #f7f7f7;
                    }
                    td span{
                        font-family: 'Roboto-Medium',sans-serif;
                        font-size: 13px;
                        padding: 4px 12px;
                        background-color: #3c49b9;
                        border-radius: 15px;
                        color: #ffff;
                        transition: 200ms ease-in-out 0s all;
                        &:hover{
                            background-color: #1A1A27;
                        }
                    }
                }
            }
        }
        #ongoing-test{
            .body td:first-child{
                cursor: pointer;
                text-decoration: underline;
                color: #3c49b9;
            }
        }
    }
}