@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% auto;
}
header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    #clock{
        padding: 8px 20px;
        font-size: 25px;
        font-weight: 600;
        font-family: "Geist",sans-serif;
        background-color: #9D9FE6;
        color: #fff;
        border-radius: 8px;
        border: 0.5px solid rgb(238, 238, 238);
        box-shadow: 0px 0px 14px #d9d9d94f;

    }
}
section{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 60px;
    width: 100%;
}
.que-container{
    margin-top: 50px;
    padding: 15px;
    width: 550px;
    align-self: flex-start;
    justify-self: flex-end;
    background-color: #ffffff;
    font-family: "Geist",sans-serif;
    border: 0.5px solid #e4e4e7;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #d9d9d996;
    .que-wrapper{
        padding: 10px;
        font-weight: 600;
        font-size: 1.8rem;
    }
    .img{
        display: none;
        height: 250px;
        width: 100%;
        background-color: #2f2f31;
        border-radius: 10px;
    }
    hr{
        background-color: #cacaca;
        border: none;
        height: 1px;
    }
    .que{
        padding: 10px;
        font-weight: 600;
        font-size: 1.4rem;
    }
    .opt-container{
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        font-weight: 500;
        font-size: 1rem;

        .opt{
            
            & input{
                transform: scale(1.3);
                accent-color: black;
            }
            & label{
                word-spacing:0.1vw;
                padding-left: 5px;
            }
        } 
    }
    .btn-container{
        padding: 20px 10px 10px 10px;
        .btn{
            padding: 8px 16px;
            font-weight: 500;
            font-size: 1rem;
            background-color: #787bc9;
            color: #ffffff;
            border-radius: 5px;
            border: none;
            transition: 200ms ease-out 0s all;
            &:hover{
                background-color: #5b5c85;
            }
            &:first-child{
                margin-right: 10px;
            }
            &:last-child{
                float: right;
            }
        }
    }   
}
.navigation-container{
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 50px;
    padding: 10px;
    width: max-content;
    background-color: #ffffff;
    font-family: "Geist",sans-serif;
    border: 0.5px solid #e4e4e7;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #d9d9d996;

    .container{
        padding: 0px 5px;

        .navigation-wrapper{
            padding: 5px 0px;
            font-size: 1.2rem;
            font-weight: 600;
        }
        hr{
            height: 1px;
            background-color: #b1b1b194;
            border: none;
        }
        .count-wrapper{
            
            .counter{
                margin: 10px 0px;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: #e4e4e4;   
                text-transform: lowercase;
                font-weight: 500;
                font-size: 1rem;

                span{
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }
        .que-navigation-wrapper{
            padding: 10px 5px;
            font-weight: 400;
            font-size: 1.1rem;
        }
        .que-navigation-btn-container{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            .btn{
                height: 34px;
                width: 34px;
                text-align: center;
                font-weight: 600;
                font-size: 1rem;
                color: #ffffff;
                background-color: #787bc9;
                border:0.5px solid #3b3b3b;
                border-radius: 5px;
                transition: 200ms ease-out 0s all;

                &:hover{
                    background-color: #6264a8;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #clock{
        margin: 10px 0px;
    }
    section {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-top: 30px;
    }

    .que-container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    body {
        display: block;
        height: auto;
    }

    header {
        padding: 5px;
    }

    #clock {
        font-size: 2vw;
        margin: 10px 0px;
    }

    .que-container .que-wrapper {
        /* font-size: 3vw; */
    }

    .que-container .que {
        /* font-size: 2.5vw; */
    }

    .que-container .opt-container {
        /* font-size: 1.5vw; */
    }

    .que-container .btn-container .btn {
        /* font-size: 1.5vw; */
    }

    .navigation-container .navigation-wrapper {
        font-size: 1.5vw;
    }

    .navigation-container .que-navigation-btn-container .btn {
        /* font-size: 1.3vw; */
    }
}

@media (max-width: 600px) {
    #clock {
        font-size: 3vw;
        margin: 10px 0px;
    }
    section{
        margin-top: 30px;
    }
    .que-container .que-wrapper {
        /* font-size: 4vw; */
    }

    .que-container .que {
        /* font-size: 3vw; */
    }

    .que-container .opt-container {
        /* font-size: 2vw; */
    }

    .que-container .btn-container .btn {
        font-size: 0.8rem;
    }

    .navigation-container .navigation-wrapper {
        /* font-size: 2vw; */
    }

    .navigation-container .que-navigation-btn-container .btn {
        /* font-size:; */
    }
}

@media (max-width: 400px) {
    header {
        padding: 2px;
    }

    #clock {
        margin: 5px 0px;
        font-size: 40px;
    }
    
    section{
        margin-top: 20px;
    }
    .que-container .que-wrapper {
        /* font-size: 5vw; */
    }

    .que-container .que {
        /* font-size: 4vw; */
    }

    .que-container .opt-container {
        /* font-size: 2.5vw; */
    }

    .que-container .btn-container .btn {
        /* font-size: 2.5vw; */
    }

    .navigation-container .navigation-wrapper {
        font-size: 2.5vw;
    }

    .navigation-container .que-navigation-btn-container .btn {
        /* font-size: 2vw; */
    }
}