@import url('css/font/ubuntuFont.css');
@import url('css/font/robotoFont.css');
:root
{
    --primary-color : #9D9FE6;
    --secondary-color : #1A1A27;
    --nav-color:rgba(26, 26, 39, 70%);
}
*
{
    margin: 0;
    padding: 0;
    list-style: none;
}
body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgb(255, 255, 255);
}
.container{
    width: 720px;
    margin-top: 20px;
    padding:10px;
    border: 0.5px solid #e4e4e7;
    /* box-shadow: 0px 4px 16px 4px rgba(221, 220, 220, 0.37); */
    border-radius: 8px;
    /* background-color: red; */

    .main{
        .user-name{
            color: #838181;
        }
    }
    .rate{
        margin-top: 20px;
    }
    .wrapper{
        width: 100%;
        height: auto;

        .test-name{
            color: var(--secondary-color);
            display: block;
            padding: 5px 10px;
            font-family: 'Roboto-bold', sans-serif;
            font-size: 2vw;
        }

        .user-name{
            display: block;
            padding: 5px 10px;
            font-family: 'Roboto-regular' , sans-serif;
            font-size: 1.4vw;
        }

        .heading{
            padding: 5px 10px;
            font-family: 'Roboto-Medium',sans-serif;
            font-size: 1.5vw;
        }
        .score-wrapper{
            padding: 5px 10px 0px 10px;
            font-family: 'Roboto-Regular',sans-serif;
            font-size: 1vw;
            display: flex;
            justify-content: space-between;
            align-items: center ;
            flex-direction: row;
            color: var(--secondary-color);
        }

        .range{
            width: 700px;
            padding: 4px 10px 5px 10px;

            .range-fill{
                background-color: var(--secondary-color);
                height: 8px;
                border-radius: 20px;
            }
            .range-unfill{
                position: relative;
                top: -8px;
                z-index: -1;
                width: 100%;
                background-color: #73737e2a;
                height: 8px;
                border-radius: 20px;
            }
        }
    }
    .tiles-container{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: self-start;
        flex-flow:  wrap;
        gap: 16px;
        padding: 5px 10px;
        color: var(--secondary-color);
        .tiles{
            border: 0.5px solid #bebebe9d;
            border-radius: 8px;
            box-shadow: 0px 1px 10px 1px #e4e4e75e;
            padding: 10px 15px 7px 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            .icon{
                padding: 0px 10px 0px 0px ;
            }
            .detail{

                .title{
                    display: block;
                    font-family: 'Roboto-Medium', sans-serif;
                    font-size: 1vw;
                }
                .score{
                    font-family: 'Roboto-Bold', sans-serif;
                    font-size: 1.9vw;
                }
            }
        }
        .small{
            width: 315px;
        }
        .large{
            width: 678px;
            padding: 16.5px 10px;
            display: block;
            .detail{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                .title{
                    margin-left: 5px;
                }
                .score{
                    margin-right: 5px;
                }
            }
        }
    }
}
