@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* font-weight: 500; */
    font-style: normal;
}
body
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 247, 255);
}
header
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: #ffffff; 
    box-shadow: -1px -5px 8px 5px #4b49ac8f;
    z-index: 1;
}
header span
{
    margin-left: 3vw;
    align-self: center;
    font-family: "Pacifico", cursive;
    font-size: 2.5vw;
    font-weight: 400;
    color: rgb(50, 50, 102);
}
header button
{
    margin-right: 10px;
    align-self: center;
    padding: 5px;
    font-size: 1.2vw;
    color: white;
    background-color: rgb(50, 50, 102);
    border-radius: 20px;
    transition: all 300ms linear 0s;
    border: 1px solid black;
    cursor: pointer;
}
header button:hover
{
    background-color: rgb(78, 78, 160);
}
section
{
    position: relative;
    display: grid;
    grid-template-columns: 15% auto;
    height: 90%;
    width: 100%;
    /* background-color: aquamarine; */
    z-index: 0;
}
section aside
{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    height: 100%;
    background-color: white;
    border-right: 2px solid black;
}
section aside ul
{
    display: flex;
    justify-content:flex-start;
    flex-flow: column wrap;
    padding: 10px 0;
    list-style: none;
}
section aside ul li
{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px;
    font-size: 1.5vw;
    color: white;
    background-color: #4B49AC;
    padding: 10px 5px;
    border-radius: 8px;
    transition: all 200ms linear 0s;
    cursor: pointer;
}
section aside ul li:hover
{
    background-color: #7978E9;
}
section aside ul li a 
{
    text-decoration: none;
    color: white;
}
section aside ul li img
{
    height: 2.5vw;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
section #container
{
    height: 100%;
    /* background-color: rgb(245, 247, 255); */
    overflow-x: hidden;
}

/*------------------------DASHBOARD STYLE-------------------------------- */
section #container .box-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 30%;
    /* background-color: red; */
}
section #container .box-container .box
{
    height: 130px;
    width: 230px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
    background-color: blueviolet;
    cursor: pointer;
    transition: all 200ms linear 0s;
    font-weight: 400;
}
section #container .box-container .box .info-dis
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section #container .box-container .box .info-dis span
{
    font-size: 10vh;
    color: white;
}
section #container .box-container .box .info-dis img
{
    height: 12vh;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}
section #container .box-container .box span
{
    margin-top: 5px;
    font-size: 1.4vw;
    color: white;
}
section #container .box-container .box:nth-child(odd)
{
    background-color: rgb(125, 160, 250);
}
section #container .box-container .box:nth-child(even)
{
    background-color:rgb(121, 120, 233);
}
section #container .box-container .box:hover
{
    scale: 1.1;
}
/*------------------------STUDENT STYLE-------------------------------- */
section #container .student-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    /* background-color: red; */
}
section #container .student-title span
{
    font-size: 3vw;
    /* color:white; */
}
section #container .student-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    /* background-color: lightblue; */
}
section #container .student-container .student-display
{
    overflow:auto;
    height: 90%;
    width: 95%;
    /* background-color: yellow; */
    border: 1px solid black;
    border-radius: 10px;
}
section #container .student-container .student-display table
{
    height: auto;
    width:95%;
    text-align: left;
    /* border-collapse: collapse; */
    white-space: nowrap;
}
section #container .student-container .student-display table thead tr th
{
    padding: 10px 5px;
    font-size: 1.6vw;
    border-bottom: 1px solid black;
}
section #container .student-container .student-display table tbody tr td
{
    padding: 5px 10px;
    font-size: 1.3vw;
    font-weight: 400;
}
section #container .student-container .student-display table tbody tr td button
{
    width: 70px;
    font-size: 1.3vw;
    padding: 5px;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
section #container .student-container .student-display table tbody tr td .edit
{
    background-color: rgb(50, 50, 102);
    transition: 200ms linear 0s all;
}
section #container .student-container .student-display table tbody tr td .edit:hover
{
    background-color: rgb(78, 78, 160);
}
section #container .student-container .student-display table tbody tr td .delete
{
    background-color: rgb(206, 46, 46);
    transition: 200ms linear 0s all;
}
section #container .student-container .student-display table tbody tr td .delete:hover
{
    background-color: rgb(255, 0, 0);
}
section #container .student-container .student-display table tr td:nth-child(1),.student-display table tr td:nth-child(5),.student-display table tr td:nth-child(6),.student-display table tr td:nth-child(8),.student-display table tr td:nth-child(9),.student-display table tr td:nth-child(10)
{
    text-align: center;
}
/*------------------------QUESTION STYLE-------------------------------- */
section #container .que-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 20px;
    width: 100%;
    height:40%;
    /* background-color: red; */
    border-bottom: 2px solid black;
    padding: 20px 0px;
}
section #container .que-container form
{
    height: 100%;
    width: auto;
    padding: 0px 0px 20px 0px;
    border: 1px solid #06062f;
    background: #2212fb43;
    border-radius: 10px;
}
section #container .que-container form table
{
    height: auto;
    width: auto;
}
section #container .que-container form table th
{
    text-align: left;
}
section #container .que-container form table tr th input[type=text]
{
    width: 400px;
    /* border: none; */
    outline: none;
}
section #container .que-container form input[type=text]
{
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
section #container .que-container form table tr td input[type=text]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container .que-container form table tr td .answer
{
    width: 190px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
section #container .que-container form table tr td input[type=submit]
{
    width: 75px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4B49AC;
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all 200ms linear 0s;
}

section #container .que-container form table tr td input[type=reset]
{
    width: 75px;
    height: 30px;
    border: 1px solid #4B49AC;
    border-radius: 5px;
    cursor: pointer;
    color: #4B49AC;
    font-size: 1.2vw;
    font-weight: 500;
    margin-right: 10px;
    transition: all 200ms linear 0s;
}
section #container .que-container form table tr td input[type=submit]:hover
{
    background-color: #7978E9;
}
section #container .que-container form table tr .button
{
    text-align: center;
}
section #container .que-display
{
    width: 100%;
    /* height: 100%;    */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /* background-color: blueviolet; */
}
section #container .que-display .que-title
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 10px 0px;
}
section #container .que-display .que-title span
{
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 10px;
}
section #container .que-display .display-container
{
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    /* height: 90%; */
    width: 98%;
    /* background-color: brown; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* border-radius: 25px; */
    /* margin-top: 4%; */
}
section #container .que-display .display-container table
{
    display: flow;
    height: auto;
    width:100%;
    text-align: left;
    white-space: nowrap;
    text-transform: capitalize;
    border-collapse: collapse;
    position: relative;
    animation: slidedown 0.5s;
}
section #container .que-display .display-container table thead tr th
{
    padding: 10px 5px;
    font-size: 1.6vw;
    border: 1px solid black;
}
section #container .que-display .display-container table tbody tr td
{
    padding: 5px 10px;
    font-size: 1.3vw;
    font-weight: 400;
    border: 1px solid black;
}
section #container .que-display .display-container table tbody tr td button
{
    width: 70px;
    font-size: 1.3vw;
    padding: 5px;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
section #container .que-display .display-container table tbody tr td .edit-que
{
    background-color: rgb(50, 50, 102);
    transition: 200ms linear 0s all;
}
section #container .que-display .display-container table tbody tr td .edit-que:hover
{
    background-color: rgb(78, 78, 160);
}
section #container .que-display .display-container table tbody tr td .delete-que
{
    background-color: rgb(206, 46, 46);
    transition: 200ms linear 0s all;
}
section #container .que-display .display-container table tbody tr td .delete-que:hover
{
    background-color: rgb(255, 0, 0);
}
section #container .que-display .display-container table tr td:nth-child(1)
{
    text-align: center;
    border-left: none;
}
section #container .que-display .display-container table tr td:last-child
{
    border-right: none;
}
section #container .que-display .display-container table tr th:first-child
{
    border-left:none;
}
section #container .que-display .display-container table tr th:last-child
{
    border-right:none;
}
/* //edit pop up //   */
section #container #edit-que-container 
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
section #container #edit-que-container #edit-que-content 
{
    margin: 10% auto;
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 5px;
    padding: 0 15px;
}
section #container #edit-que-container #edit-que-content form
{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
section #container #edit-que-container #edit-que-content form table
{
    height: auto;
    width: auto;
}
section #container #edit-que-container #edit-que-content form table th
{
    text-align: left;
}
section #container #edit-que-container #edit-que-content form table tr th input[type=text]
{
    width: 400px;
    /* border: none; */
    outline: none;
}
section #container #edit-que-container #edit-que-content form input[type=text],input[type=date],input[type=time]
{
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
section #container #edit-que-container #edit-que-content form table tr td input[type=text]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container #edit-que-container #edit-que-content form table tr td input[type=time],input[type=date]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container #edit-que-container #edit-que-content form table tr td .answer
{
    width: 190px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
section #container #edit-que-container #edit-que-content form table tr td input[type=reset]
{
    width: 75px;
    height: 30px;
    border: 1px solid #4B49AC;
    border-radius: 5px;
    cursor: pointer;
    color: #4B49AC;
    font-size: 1.2vw;
    font-weight: 500;
    margin-right: 10px;
    transition: all 200ms linear 0s;
}
section #container #edit-que-container #edit-que-content form table tr td input[type=submit]
{
    width: 90px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4B49AC;
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all 200ms linear 0s;
}
section #container #edit-que-container #edit-que-content form table tr td input[type=submit]:hover
{
    background-color: #7978E9;
}
section #container #edit-que-container #edit-que-content form table tr .button
{
    text-align: center;
}
section #container #edit-que-container #edit-que-content .edit-que-title
{
    margin: 20px 0px 0px 5px;
}
section #container #edit-que-container #edit-que-content .close 
{
    float: right;
    color: #454534;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
section #container #edit-que-container .slidedown
{
    position:relative;
    animation:slidedown 0.5s
}
@keyframes slidedown{
    from{top:-300px;opacity:0} 
    to{top:0;opacity:1}
}
/* // end edit pop up //   */

/*------------------------TEST STYLE------------------------------------*/

/* // edit pop up //   */
section #container #edit-test-container 
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
section #container #edit-test-container #edit-test-content 
{
    margin: 10% auto;
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 5px;
    padding: 0 15px;
}
section #container #edit-test-container #edit-test-content form
{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
section #container #edit-test-container #edit-test-content form table
{
    height: auto;
    width: auto;
}
section #container #edit-test-container #edit-test-content form table th
{
    text-align: left;
}
section #container #edit-test-container #edit-test-content form table tr th input[type=text]
{
    width: 400px;
    /* border: none; */
    outline: none;
}
section #container #edit-test-container #edit-test-content form input[type=text],input[type=date],input[type=time]
{
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
section #container #edit-test-container #edit-test-content form table tr td input[type=text]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container #edit-test-container #edit-test-content form table tr td input[type=time],input[type=date]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container #edit-test-container #edit-test-content form table tr td input[type=reset]
{
    width: 95px;
    height: 30px;
    border: 1px solid #4B49AC;
    border-radius: 5px;
    cursor: pointer;
    color: #4B49AC;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all 200ms linear 0s;
}
section #container #edit-test-container #edit-test-content form table tr td input[type=submit]
{
    width: 95px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4B49AC;
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all 200ms linear 0s;
}
section #container #edit-test-container #edit-test-content form table tr td input[type=submit]:hover
{
    background-color: #7978E9;
}
section #container #edit-test-container #edit-test-content form table tr .button
{
    text-align: center;
}
section #container #edit-test-container #edit-test-content .edit-test-title
{
    margin: 20px 0px 0px 5px;
}
section #container #edit-test-container #edit-test-content .close 
{
    float: right;
    color: #454534;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
section #container #edit-test-container .slidedown
{
    position:relative;
    animation:slidedown 0.5s
}
@keyframes slidedown{
    from{top:-300px;opacity:0} 
    to{top:0;opacity:1}
}
/* // end edit pop up //   */

section #container .test-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 20px;
    width: 100%;
    height:40%;
    /* background-color: red; */
    border-bottom: 2px solid black;
    padding: 20px 0px;
}
section #container .test-container form
{
    height: auto;
    width: auto;
    padding: 0px 0px 0px 0px;
    border: 1px solid #06062f;
    background: #2212fb43;
    border-radius: 10px;
}
section #container .test-container form table
{
    height: auto;
    width: auto;
}
section #container .test-container form table th
{
    text-align: left;
}
section #container .test-container form table tr th input[type=text]
{
    width: 400px;
    /* border: none; */
    outline: none;
}
section #container .test-container form input[type=text],input[type=date],input[type=time]
{
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
#Que input{
    padding: 5px 0px;
    height:60px;
}
section #container .test-container form table tr td input[type=text]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container .test-container form table tr td input[type=time],input[type=date]
{
    width: 190px;
    outline: none;
    /* border: none; */
}
section #container .test-container form table tr td input[type=submit]
{
    width: 75px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4B49AC;
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all 200ms linear 0s;
}
section #container .test-container form table tr td input[type=reset]
{
    width: 75px;
    height: 30px;
    border: 1px solid #4B49AC;
    border-radius: 5px;
    cursor: pointer;
    color: #4B49AC;
    font-size: 1.2vw;
    font-weight: 500;
    margin-right: 10px;
    transition: all 200ms linear 0s;
}
section #container .test-container form table tr td input[type=reset]:hover
{
    color: #ffffff;
    background-color: #7978E9;
    border: 1px solid black;
}
section #container .test-container form table tr td input[type=submit]:hover
{
    background-color: #7978E9;
}
section #container .test-container form table tr .button
{
    text-align: center;
}
section #container .test-display
{
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /* background-color: blueviolet; */
}
section #container .test-display .test-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 8%;
    /* background-color: red; */
}
section #container .test-title span
{
    font-size: 1.5vw;
    font-weight: bold;
    /* margin-left: 10px; */
    /* color:white; */
}
.search button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.search {
  --timing: 0.3s;
  --width-of-input: 150px;
  --height-of-input: 35px;
  --border-height: 2px;
  --input-bg: #bebbfe;
  --border-color: #4b49ac;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.search .search_input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.search:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.search:focus-within {
  border-radius: var(--after-border-radius);
}

.search input:focus {
  outline: none;
}
/* here is code of animated border */
.search:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.search .reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
.search input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.search svg {
  width: 17px;
  /* margin-top: 3px; */
}
section #container .test-display .display-container
{
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    width: 98%;
    /* background-color: brown; */
    /* border: 1px solid black; */
    /* border-radius: 25px; */
}
section #container .test-display .display-container table
{
    /* display: flow; */
    height: auto;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-transform: capitalize;
    border-collapse: collapse;
}
section #container .test-display .display-container  .slidedown
{
    position: relative;
    animation: slidedown  0.5s;
}
section #container .test-display .display-container table thead tr th
{
    padding: 10px 5px;
    font-size: 1.6vw;
    border: 1px solid black;
}
section #container .test-display .display-container table tbody tr td
{
    padding: 5px 10px;
    font-size: 1.3vw;
    font-weight: 400;
    border: 1px solid black;
}
section #container .test-display .display-container table tbody tr td button
{
    width: 70px;
    font-size: 1.3vw;
    padding: 5px;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
section #container .test-display .display-container table tbody tr td .edit-test
{
    background-color: rgb(50, 50, 102);
    transition: 200ms linear 0s all;
}
section #container .test-display .display-container table tbody tr td .edit-test:hover
{
    background-color: rgb(78, 78, 160);
}
section #container .test-display .display-container table tbody tr td .delete-test
{
    background-color: rgb(206, 46, 46);
    transition: 200ms linear 0s all;
}
section #container .test-display .display-container table tbody tr td .delete-test:hover
{
    background-color: rgb(255, 0, 0);
}
section #container .test-display .display-container table tr td:nth-child(1)
{
    text-align: center;
}
section #container .test-display .display-container table tr td:nth-child(2)
{
    cursor: pointer;
}
/*------------------------RESULT STYLE-------------------------------- */
section #container .title
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    /* background-color: red; */
}
section #container .title span
{
    font-size: 3vw;
    /* color:white; */
}
section #container .result-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    /* background-color: lightblue; */
}
section #container .result-container .result-display
{
    height: 90%;
    width: 95%;
    /* background-color: yellow; */
    border: 1px solid black;
    border-radius: 25px;
}

/*-------------------Alert box STYLE--------------------------*/
section #container #alert-container
{
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: self-end;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background: transparent;
    z-index: 1;
    box-sizing: border-box;
}
section #container #alert-container .alert
{
    width: 300px;
    margin: 20px 20px;
    padding: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
}
section #container #alert-container .alert h3
{
    font-family: Quicksand;
}
section #container #alert-container .alert .close-alert
{
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 15px;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;   
}
section #container #alert-container .success-alert
{
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
}
section #container #alert-container .success-alert .close-alert
{
    border-color: #178344;
    color: #178344;
}
section #container #alert-container .danger-alert
{
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c;
}
section #container #alert-container .danger-alert .close-alert
{
    border-color: #8f130c;
    color: #8f130c;
}
section #container #alert-container .slideright
{
    position:relative;
    animation:slideright 0.5s;
}
@keyframes slideright{
    from{right:-280px;opacity:0} 
    to{right:0;opacity:1}
}